*/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

###maven###
cloud-cli/.mvn/
cloud-cli/mvnw
cloud-cli/mvnw.cmd
cloud-discover/.mvn/
cloud-discover/mvnw
cloud-discover/mvnw.cmd
cloud-loadbalance/.mvn/
cloud-loadbalance/mvnw
cloud-loadbalance/mvnw.cmd
cloud-service/.mvn/
cloud-service/mvnw
cloud-service/mvnw.cmd
